.centered {
    margin-left: auto;
    margin-right: auto;
}

.display-block {
    display: block;
}

.display-flex {
    display: flex;
}

.display-inline-block {
    display: inline-block;
}

.flex-grow-point-five {
    flex-grow: 0.5;
}

.font-weight-bold {
    font-weight: bold;
}

.height-25 {
    height: 25rem;
}

.image-height {
    width: 5rem !important;
    height: auto;
}

.margin-top-2 {
    margin-top: 2rem;
}

.margin-top-5 {
    margin-top: 5rem;
}

.padding-one {
    padding: 1rem !important;
}

.rounded {
    border-radius: 50%;
}

.text-centered {
    text-align: center;
}

.width-25 {
    width: 25rem;
}